@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Pattaya&family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.corner {
   @apply absolute right-5 top-5 z-10 h-7 w-7 rounded-full bg-slate-300;
}

.skill-card {
   @apply flex flex-col items-center justify-center gap-4 rounded-2xl bg-slate-50/30 p-5 shadow-lg shadow-white duration-300 ease-in hover:scale-110 hover:bg-slate-50/80;
}

* {
   font-family: "Prompt", sans-serif;
}

.will-change-transform {
   will-change: transform;
}

.cursor::after {
   display: block;
   content: "";
   position: absolute;
   width: 4px;
   height: 100%;
   background-color: #fff;
   animation: cursor 0.6s linear infinite alternate;
   will-change: opacity;
}

@keyframes cursor {
   0%,
   40% {
      opacity: 1;
   }

   60%,
   100% {
      opacity: 0;
   }
}
